.update-btn {
  height: 30px;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
}
.delete-btn {
  height: 30px;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
}
.designationstatus {
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 5px;
  padding-left: 5px;
  cursor: pointer;
  padding-right: 5px;
}
