.card {
  border: none;
}

.p-inputtext,
::ng-deep .p-dropdown,
::ng-deep .p-calendar {
  width: 100% !important;
}

.p-inputtext {
  color: #333;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  transition: border-color 0.3s, box-shadow 0.3s;
}
.p-inputtext:hover {
  border: 1px solid #33009c !important;
}
.p-inputtext:focus {
  border: 1px solid #33009c !important;
  box-shadow: 0 0 5px #9b8db5 !important;
  outline: none;
}

.p-inputtext::placeholder {
  color: #888;
}

label {
  font-weight: 600;
}

.custom-steps-card {
  border-radius: 10px;
  padding: 20px;
  margin: 12px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.file-wrapper {
  display: inline-block;
  position: relative;
  margin-right: 12px;
}

.file-link {
  text-decoration: none;
}

.file-icon {
  font-size: 40px;
  transition: color 0.3s;
}

.file-icon:hover {
  color: #000;
}

.delete-btn {
  position: absolute;
  top: -5px;
  right: -3px;
  padding: 4px;
  border-radius: 50%;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

.delete-btn i {
  font-size: 12px;
}

.delete-btn:hover {
  background-color: #ff4d4d;
}
