<div class="card header-card p-3">
  <div class="d-flex justify-content-between">
    <div>
      <div class="d-flex">
        <div class="me-1">
          <img src="../../../assets/images/logo.png" width="60" height="40" />
        </div>
        <div class="title d-flex align-items-center">
          The&nbsp; <strong style="color: #51c297">Fintalk</strong>
        </div>
      </div>
    </div>
    <div class="desktop-only d-flex align-items-center">
      <div class="flex desktop-only justify-content-center">
        <p-sidebar
          [(visible)]="sidebarVisible"
          position="right"
          class="desktop-only"
        >
          <div class="">
            <h4 class="fw-bold account-title text-center">My Account</h4>
            <div class="mt-2 pointer-cursor text-capitalize">
              <div class="d-flex p-3 light-blue-background">
                <div class="me-2">
                  <img
                    src="../../../assets/images/profile/user.png"
                    width="50px"
                    class="rounded-circle"
                  />
                </div>
                <div>
                  <div class="text-primary fw-bold text-capitalize">
                    {{ userDetails.username }}
                  </div>
                  <div class="text-capitalize">
                    {{ userDetails.designationName }}
                  </div>
                </div>
              </div>
              <div>
                <div class="info-line">
                  <div class="label me-2">First Name&nbsp;:</div>
                  <div class="value">
                    {{ userDetails.firstName }}
                  </div>
                </div>
                <div class="info-line">
                  <div class="label me-2">Last Name&nbsp;:</div>
                  <div class="value">
                    {{ userDetails.lastName }}
                  </div>
                </div>
                <div class="info-line">
                  <div class="label me-2">Email&nbsp;:</div>
                  <div class="value text-lowercase">
                    {{ userDetails.email }}
                  </div>
                </div>

                <div class="info-line">
                  <div class="label me-2">Mobile&nbsp;:</div>
                  <div class="value">
                    {{ userDetails.phoneNumber }}
                  </div>
                </div>
              </div>
            </div>
            <div class="pl-4 d-flex align-items-center justify-content-center">
              <p-button
                label="Logout"
                styleClass="p-button-danger"
                icon="pi pi-sign-out"
                (click)="userLogout()"
                iconPos="right"
              ></p-button>
            </div>
          </div>
        </p-sidebar>
        <div
          class="d-flex profile1 align-items-center justify-content-center"
          (click)="sidebarVisible = true"
        >
          <button
            pButton
            pRipple
            type="button"
            p-button-rounded
            class="p-button-primary me-2 fw-bold smaller-button text-capitalize"
            rounded="true"
          >
            {{
              userDetails.username
                ? (userDetails.username.charAt(0) | capitalizeFirst)
                : ""
            }}
          </button>
          <p class="profile text-capitalize">
            {{ userDetails.username }}
          </p>
        </div>
      </div>
    </div>
    <div
      class="mobile-only d-flex align-items-center hide-on-desktop"
      (click)="showSidebarMenu()"
    >
      <i class="pi pi-bars"></i>
    </div>
  </div>
</div>
