::ng-deep .p-fileupload .p-fileupload-buttonbar .p-button.p-fileupload-choose {
  background-color: #31425e !important;
  border: #31425e;
}

::ng-deep .p-fileupload .p-fileupload-buttonbar .p-button {
  background-color: #1e4079 !important;
  border: #1e4079;
}

::ng-deep .p-fileupload .p-fileupload-buttonbar .p-button:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #9fb6c4;
}
::ng-deep .p-fileupload .p-fileupload-buttonbar .p-button .pi .pi-times {
  background-color: aqua !important;
}

::ng-deep .p-fileupload .p-button-icon-only,
::ng-deep .p-dialog-header .p-dialog-header-icon {
  background-color: #c02929 !important;
  border: #c02929;
  color: white !important;
}

::ng-deep .p-dialog .p-dialog-header .p-dialog-header-icon:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #efa5a5 !important;
}

::ng-deep
  .p-fileupload
  .p-fileupload-buttonbar
  .p-button.p-fileupload-choose:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #9fb6c4;
}
