@import "bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Figtree&display=swap");

*:not(.pi, .fas, .fa, .mat-icon) {
  font-family: "Figtree", sans-serif !important;
  line-height: 1.43;
  letter-spacing: 0.2px !important;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.p-button-primary,
.p-dialog .p-confirm-dialog-accept {
  background-color: #1e4079 !important;
  border-color: #1e4079 !important;
  border: none !important;
  border-radius: 5px;
  padding: 0.625rem 1.25rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.goback-button,
.p-dialog .p-confirm-dialog-reject {
  background-color: #e6e4ef !important;
  color: #1e4079 !important;
  border: none !important;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold !important;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-primary {
  background-color: #89ffc8 !important;
  color: #000 !important;
  font-weight: 600 !important;
  border: none !important;
  border-radius: 3px !important;
}

.fs-20 {
  padding: 0.5rem 1rem !important;
  border-radius: 3px !important;
  font-weight: 500 !important;
}

.p-inputtext {
  padding: 8px !important;
}

.form-label {
  font-size: 1rem;
  font-weight: 800;
  margin-bottom: 0;
}

.body-section {
  overflow-y: auto !important;
  overflow-x: hidden !important;
  background: #f1f5f9 !important;
}

.pointer-cursor {
  cursor: pointer;
}
.card {
  padding: 20px;
}

.heading-card {
  background-color: #31425e !important;
  color: white !important;
  border-radius: 8px !important;
  border: none !important;
}

.heading-image {
  max-height: 90px !important;
}
.table-card {
  margin: 10px;
  border: none !important;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.back-btn-text {
  color: #8cb5ff !important;
  font-weight: bold !important;
  font-size: 25px !important;
}

.back-btn-icon {
  color: #ffffff !important;
}

.file-icon {
  color: #31425e;
  font-size: 30px;
}

.p-breadcrumb {
  background-color: #31425e !important;
  border: none !important;
  padding: 0 !important;
}

.p-breadcrumb .p-breadcrumb-chevron,
.bread-crumb .fa-house {
  color: #8cb5ff !important;
}

.p-breadcrumb .p-menuitem-text {
  color: white !important;
}

.p-menuitem-text {
  color: #2e4374 !important;
  font-weight: bold;
}

.p-datatable .p-datatable-thead > tr > th {
  background: #31425e !important;
  color: white !important;
}
.p-datatable .p-datatable-thead {
  border-radius: 10px;
}
.p-inputgroup-addon,
.p-dropdown .p-dropdown-trigger {
  background-color: #d0bef4 !important;
}

.p-dropdown .p-dropdown-trigger-icon,
.custom-icon {
  color: #33009c !important;
}

.p-dropdown .p-dropdown-clear-icon {
  color: #33009c !important;
  margin-right: 4px !important;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  color: #33009c !important;
  height: 45px;
}

.p-dropdown-items-wrapper {
  max-height: 200px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #cac8c8 #f1f1f1;
}

.p-calendar .p-button {
  background-color: #d0bef4 !important;
  border: none !important;
}

.p-calendar .p-datepicker-trigger {
  color: #33009c !important;
}

.p-calendar .p-inputtext:hover {
  border: 1px solid #33009c !important;
}

.p-calendar .p-inputtext:focus {
  border: 1px solid #33009c !important;
  box-shadow: 0 0 5px #9b8db5 !important;
  outline: none !important;
}
.p-dropdown:hover {
  border: 1px solid #33009c !important;
}

.p-dropdown:not(.p-disabled).p-focus {
  border: 1px solid #33009c !important;
  box-shadow: 0 0 5px #9b8db5 !important;
  outline: none !important;
}

.statusdata {
  padding: 4px 10px;
  border-radius: 10px;
}

.p-dropdown-items-wrapper {
  scrollbar-color: #51c295 #f1f1f1;
  scrollbar-width: thin;
}

.p-datatable .p-sortable-column.p-highlight .p-sortable-column-icon {
  color: #33009c !important;
}
.p-datatable .p-sortable-column .p-sortable-column-icon {
  color: #ffffff !important;
}
.employeeImage {
  border-radius: 50px;
}
.pi-exclamation-triangle {
  color: #ffb200;
}

.p-dialog .p-dialog-header .p-dialog-title {
  color: #33009c;
}

.p-dialog .p-button:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #87c7f7;
}
.table-column-data i.fa {
  color: #62b766 !important;
}

.p-datatable-striped tbody tr:nth-child(even) {
  background-color: #f9f9f9 !important;
}

.p-datatable-striped tbody tr:nth-child(odd) {
  background-color: #ffffff !important;
}

.p-menu .p-submenu-header {
  background-color: #2e4374 !important;
  color: #ffffff !important;
}
.p-menu .p-menuitem-link .p-menuitem-icon {
  color: #8cb5ff !important;
}

.custom-accordion .p-accordion-header {
  padding-bottom: 10px !important;
}

.custom-accordion .p-accordion-header-link {
  background-color: #ffcccc !important;
  color: red !important;
  border: 1px solid red !important;
}

.custom-accordion .p-accordion-header-link.p-highlight {
  background-color: #ff9999 !important;
  color: darkred !important;
  border-color: darkred !important;
}

.custom-accordion
  .p-accordion-header:not(.p-disabled)
  .p-accordion-header-link:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #ff9999 !important;
}

.absenttable .p-datatable-tbody > tr > td {
  padding: 8px !important;
  height: 10px !important;
}

@media screen and (max-width: 800px) {
  .heading-image {
    display: none;
  }
}

.dialogbox .p-dialog-header .p-dialog-header-icon {
  background-color: #c02929 !important;
  border: #c02929;
  color: white !important;
}

.dialogbox .p-dialog-header .p-dialog-header-icon:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #efa5a5 !important;
}

.p-dialog {
  border-radius: 20px !important;
}

.p-dialog {
  scrollbar-width: 3px !important;
  scrollbar-color: #51c295 #f1f1f1;
  overflow-y: auto;
}

.p-dialog::-webkit-scrollbar {
  width: 3px !important;
}
