<nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"
      ><div class="d-flex">
        <div class="me-1">
          <img src="../../assets/images/logo.png" width="60" height="40" />
        </div>
        <div class="title d-flex align-items-center">
          The&nbsp; <strong style="color: #51c297">Fintalk</strong>
        </div>
      </div></a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarContent"
      aria-controls="navbarContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/user']">
            <button pButton pRipple type="button" class="btn btn-primary">
              Login
            </button>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<section
  class="welcome-section d-flex flex-column flex-lg-row align-items-center justify-content-between py-5"
>
  <div class="welcome-text">
    <h1>
      <div class="typing-text-container">The Fintalk HRM</div>
    </h1>
    <p>
      Your complete solution for Managing employees, Interviews, Attendance,
      <br />
      Payroll, Leaves, Incentives, Salary hikes and more.
    </p>
    <button class="btn btn-primary">Get Started</button>
  </div>
  <div class="welcome-image">
    <img
      src="../../assets/images/slider/slider1"
      alt="HRMS Welcome"
      class="img-fluid"
    />
  </div>
</section>

<section class="features-section py-5">
  <div class="feature d-flex align-items-center justify-content-between mb-5">
    <div class="feature-image">
      <img
        src="../../assets/images/slider/slider2.jpg"
        alt="Employee Management"
        class="img-fluid"
      />
    </div>
    <div class="feature-text">
      <h2>Employee Management</h2>
      <p>
        Easily manage employee details, onboarding, and updates all in one
        place.
      </p>
    </div>
  </div>
  <!-- Interviews Management -->
  <div class="feature d-flex align-items-center justify-content-between">
    <div class="feature-text">
      <h2>Interviews Management</h2>
      <p>Streamline interview scheduling, feedback, and hiring processes.</p>
    </div>
    <div class="feature-image">
      <img
        src="../../assets/images/slider/interview.jpg"
        alt="Interviews Management"
        class="img-fluid"
      />
    </div>
  </div>
  <!-- Attendance Management -->
  <div class="feature d-flex align-items-center justify-content-between mb-5">
    <div class="feature-image">
      <img
        src="../../assets/images/slider/slider3.jpg"
        alt="Attendance Management"
        class="img-fluid"
      />
    </div>
    <div class="feature-text">
      <h2>Attendance Management</h2>
      <p>Track and monitor attendance efficiently with automated tools.</p>
    </div>
  </div>

  <!-- Payroll Management -->
  <div class="feature d-flex align-items-center justify-content-between mb-5">
    <div class="feature-text">
      <h2>Payroll Management</h2>
      <p>Ensure accurate and timely payroll processing for your employees.</p>
    </div>
    <div class="feature-image">
      <img
        src="../../assets/images/slider/slider4.png"
        alt="Payroll Management"
        class="img-fluid"
      />
    </div>
  </div>

  <!-- Leave Management -->
  <div class="feature d-flex align-items-center justify-content-between mb-5">
    <div class="feature-image">
      <img
        src="../../assets/images/slider/leave.jpg"
        alt="Leave Management"
        class="img-fluid"
      />
    </div>
    <div class="feature-text">
      <h2>Leave Management</h2>
      <p>Handle leave requests, approvals, and tracking with ease.</p>
    </div>
  </div>

  <!-- Incentive Management -->
  <div class="feature d-flex align-items-center justify-content-between mb-5">
    <div class="feature-text">
      <h2>Incentive Management</h2>
      <p>Manage employee incentives and rewards efficiently.</p>
    </div>
    <div class="feature-image">
      <img
        src="../../assets/images/slider/incentive.jpg"
        alt="Incentive Management"
        class="img-fluid"
      />
    </div>
  </div>
</section>

<footer class="text-center text-lg-start">
  <section class="">
    <div class="container text-center text-md-start">
      <div class="row pt-4">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold">TheFintalk</h6>
          <hr
            class="mb-4 mt-0 d-inline-block mx-auto"
            style="width: 60px; background-color: #b0a5cf; height: 2px"
          />
          <p style="text-align: justify">
            TheFintalk Empowering your business to build more intelligent and
            engaging relationships with your customers using finance technology.
          </p>
        </div>

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold">Contact</h6>
          <hr
            class="mb-4 mt-0 d-inline-block mx-auto"
            style="width: 60px; background-color: #7c4dff; height: 2px"
          />
          <p>
            <a href="#!"
              >#506,5th Floor,MGR Estates Punjagutta,Hyderabad 500082</a
            >
          </p>
          <p>
            <a href="#!">info&#64;thefintalk.in </a>
          </p>
          <p>
            <a href="#!">+91 0252635415</a>
          </p>
        </div>
      </div>
    </div>
  </section>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2024 TheFintalk. | All Rights Reserved
  </div>
</footer>
